<a class="github-button" href="https://github.com/FLtta/breviare" data-icon="octicon-star" aria-label="Star FLtta/breviare on GitHub">Star</a>
<a class="github-button" href="https://github.com/FLtta" aria-label="Follow @SillyArgie on GitHub">Follow @FLtta</a> 
