<a class="github-button" href="https://github.com/SillyArgie/breviare" data-icon="octicon-star" aria-label="Star SillyArgie/breviare on GitHub">Star</a>
<a class="github-button" href="https://github.com/SillyArgie" aria-label="Follow @SillyArgie on GitHub">Follow @SillyArgie</a> 