<a class="github-button" href="https://github.com/FLiotta/breviare" data-icon="octicon-star" aria-label="Star FLiotta/breviare on GitHub">Star</a>
<a class="github-button" href="https://github.com/FLiotta" aria-label="Follow @FLiotta on GitHub">Follow @FLiotta</a> 
